<!-- modal.hbs -->
<div class="modal" id="recipe-modal">
  <div class="modal-content">
    <h2 class="recipe-title">{{ mealName }}</h2>
    <p>Ingredientes: {{ ingredients }}</p>
    <p>Preparación: {{ preparation }}</p>
    <button type="button" class="modal-close-btn" id="modal-close-btn"><i class="fas fa-times"></i></button>
  </div>
</div>
