<div class="meal-search">
        <h2 class="title">Encuentra las comidas a partir de tus ingredientes favoritos</h2>
        <blockquote>La verdadera comida no tiene ingredientes, los ingredientes son las verdadera comida<br>
          <cite>- Jamie Oliver</cite>
        </blockquote>
        <form action="/recetas" method="POST">
          <div class="meal-search-box">

            <input type="text" class="search-control" placeholder="Ingrese alguna comida" id="search-input"
              name="ingredientexinput">
            <button type="submit" class="search-btn btn" id="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>